body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.arrow {
  vertical-align: top;
}

.td-bold, .td-blue {
  font-weight: 600;
}

.td-blue {
  color: #2188B5;
}

.bus-number {
  padding: 0 5px;
  vertical-align: top;
}

.popover-title {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600;
}

.fa-map-marker {
  color: #2188B5;
  cursor: pointer;
}

.h3-inline {
  display: inline-flex;
  margin-right: 4px;
}
