.table-style {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.td-bold {
  font-weight: 600;
}

.td-blue {
  color: #2188B5;
  font-weight: 600;
}

.bus-number {
  padding: 0 5px;
  vertical-align: top;
}
