.navbar {
  margin-bottom: 0;
  background-color: #2188B5;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 2px;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
}

.navbar .navbar-brand {
  color: #fff !important;
}

.navbar li a {
  color: #fff !important;
  background-color: #2188B5;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: #2188B5;
}


.navbar-default .navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fff !important;
  background-color: #2188B5;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;;
}

.jumbotron {
  background-color: #2188B5;
  padding: 70px 25px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}

.jumbotron h1 {
  text-transform: uppercase;
  color: #fff;
}

.jumbotron p {
  color: #fff;
}
