.spacer {
  margin-top: 50px;
}

.jumbotron {
  background-color: #2188B5;
  color: #fff;
  padding: 100px 25px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}

.jumbotron h1 {
  text-transform: uppercase;
}
